<a href="https://colab.research.google.com/github/Sandra69-ms/python_notes/blob/main/statiscis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# statistical terms


1, mean  :Average

2, meadian :middle most number

3, mode

4,SD

5, varience

6, covarience

7, Quartile

8, correlation

9, population mean

10, sample mean

In [ ]:
data =[5,8,2,7,3,8,10]
sum =0
for i in data:
  sum =sum + i
mean = sum/len(data)
print(mean)

6.142857142857143

In [ ]:
data = [5,8,2,7,3,8,10]
data_sort =sorted(data)
print(data_sort)

[2, 3, 5, 7, 8, 8, 10]

In [ ]:
# calculate the median

data.sort() # sortthe list in-place
middle_value =len(data)//2
if len(data) %2 != 0: # != not equalto symbol if odd direct print
  median=data[middle_value]
else:
  median = (data[middle_value-1]+data[middle_value])/2
  #acess the median element (for list of 7 elememt)
print(median)

7

In [ ]:
# calculte the mode of data
freq = {}
for num in data:
  if num in freq :
    freq[num]+=1
  else:
    freq[num]=1
print(freq)
mode_list =[]
max_freq =0
for num, value in freq.items() :
  if value > max_freq:
    max_freq = value
    mode_list =[num]
  elif value == max_freq and  num not in mode_list:
    mode_list.append(num)

print( f"mode{mode_list}")

{5: 1, 8: 2, 2: 1, 7: 1, 3: 1, 10: 1}
mode[8]

In [ ]:
rainfall

percentile

In [ ]:
month_data =[85,60,72,55,105,315,350,290,190,130,95,70]
month_sort  = sorted(month_data)
print(month_sort)
var1= len(month_sort)//4
var2=len(month_sort)//2
var3 = 3*len(month_sort)//4
                             # since there are four quatrent
q1 =month_sort[var1-1]
q2 = month_sort[var2-1]
q3 =month_sort[var3-1]
print(f"Q1 = {q1}")
print(f"Q2 = {q2}")
print(f"Q3 = {q3}")

[55, 60, 70, 72, 85, 95, 105, 130, 190, 290, 315, 350]
Q1 = 70
Q2 = 95
Q3 = 190

In [ ]:
#find IQR
iqr= q3-q1
print(f"IQR = {iqr}")

IQR = 120

In [ ]:
#lower whisker and upper Whisker
lower_whisker = q1-1.5*iqr
print(f"lower_wishker = {lower_whisker}")
upper_whisker = q3 +1.5*iqr
print(f"upper whisker ={upper_whisker}")

lower_wishker = -110.0
upper whisker =370.0